[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
arcade = "*"

[requires]
python_version = "3.8"

[scripts]
start = 'python -m game'
lint = "python -m flake8"
precommit = "pre-commit install"
