[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
arcade = {editable = true,git = "https://github.com/pvcraven/arcade.git",ref = "shader_experimental"}

[requires]
python_version = "3.8"
